body {
  background-color: #f4f4f4;
  margin: 0;
}
.main {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
}
h1 {
  margin-bottom: 20px;
}
.button {
  display: block;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.mini {
  width: auto;
}
.button:hover {
  background-color: #0056b3;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 10%;
}
th,
td {
  border: 1px solid #007bff;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}
th {
  background-color: #007bff;
  color: white;
}
.save-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save-button:hover {
  background-color: #218838;
}
.delete-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #c82333;
}
.add-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10%;
}
.add-button:hover {
  background-color: #0056b3;
}
